* {
  margin: 0;
  font-family: sans-serif;
  color: whitesmoke;
}
body {
  overflow: hidden;
  overflow: auto;
  background-color: black;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(10, 1, 27, 0.104);
  padding: 4rem;
  z-index: 10;
  backdrop-filter: blur(1px);
}
.name {
  position: absolute;
  left: 5rem;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Space Grotesk Bold";
}
nav {
  display: flex;
  justify-content: end;
  gap: 5rem;
  font-size: 2.4rem;
  margin-right: 5rem;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Space Grotesk Medium";
}
a:hover {
  color: white;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
}
.name:hover {
  color: white;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
  cursor: default;
}

.about-container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: 10rem;
}
.describe {
  max-width: 600px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #e6e6e6;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 25px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
}
.main-pic {
  width: 30%;
  border-radius: 50%;
  border: white 2px solid;
  background: linear-gradient(to top, #2112a5, #0000008e);
  height: auto;
}
.hobby {
  font-size: 4rem;
  font-family: "Space Grotesk Bold", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.84);
}
.hobbies-container {
  margin-top: 10rem;
  height: 85vh;
  justify-content: center;

}
.hobby-list {
  list-style: none;
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 13rem;
}
li {
  color: rgba(204, 181, 255, 0.696);
  font-size: 2.5rem;
}
.image-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
  padding: 50px 50px 50px 20px;

  gap: 5rem;
}
img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: rgba(14, 1, 1, 0.526) 2px solid;
  object-fit: cover;
  height: 25rem;
}
