@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  color: whitesmoke;
}

body {
  overflow: auto;
  background-color: black;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(10, 1, 27, 0.104);
  padding: 2.5rem 0 2.5rem 0;
  z-index: 10;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

.name:hover {
  color: white;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
  cursor: default;
}

nav {
  display: flex;
  justify-content: end;
  gap: 5rem;
  font-size: 2.1rem;
  margin-left: 20rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: white;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.about-container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10rem 6rem 0 5rem;
}

.describe {
  max-width: 600px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #e6e6e6;
  font-weight: 400;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 25px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
}

.main-pic {
  width: 30%;
  border-radius: 50%;
  border: white 2px solid;
  background: linear-gradient(to top, #2112a5, #0000008e);
  height: auto;
}

.hobby {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  color: white;
  margin-top: 10rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.hobby-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 13rem 0 9rem;
  font-size: 1.4rem;
}

li {
  color: rgba(204, 181, 255, 0.85);
  font-size: 2.5rem;
}

.image-container-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 40px;
}

img {
  width: 100%;
  height: 25rem;
  border-radius: 15px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.4s, box-shadow 0.4s;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(155, 105, 255, 0.5);
}

html {
  scroll-behavior: smooth;
}
