* {
  margin: 0;
  font-family: sans-serif;
  color: whitesmoke;
}
body {
  overflow: hidden;
}
header {
  background-color: rgba(10, 1, 27, 0.104);

  padding: 4rem;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(5px);
}
.name {
  position: absolute;
  left: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}
nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
  font-size: 2rem;
  margin-right: 5rem;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: white;
  font-size: 2.1rem;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
}
.name:hover {
  color: white;
  text-shadow: 0 0 5px rgba(256, 256, 256, 1);
  cursor: default;
}

.about-container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 6rem;
}
.describe {
  top: 6rem;
  left: 3rem;
  font-size: 1.6rem;
  text-align: justify;
  width: 40%;
}
img {
  width: 30%;
  border-radius: 50%;
  border: white 2px solid;
  background: linear-gradient(to top, #2112a5, #0000008e);
}
